@{
    ViewData["Title"] = "OopsMeal Page";
}

<div class="container" style="text-align:center;">
    <h2>Oops...</h2>
    <h3>It appears that you have yet to generate your meal plan!</h3>
    <p>
        Choose your food preferences on the <a asp-area="" asp-controller="MealPlan" asp-action="MealPlanner">Meal Planner page</a>
        to be able to access the meal calendar!
    </p>
</div>