@{
    ViewData["Title"] = "OopsWorkouts Page";
}

<div class="container" style="text-align:center;">
    <h2>Oops...</h2>
    <h3>It appears that you have yet to generate your workout for the day!</h3>
    <p>
        Choose your preferences on the <a asp-area="" asp-controller="WorkoutPlan" asp-action="WorkoutPlanner">Workout Planner page</a>
        to be able to access this page!
    </p>
</div>