<!DOCTYPE html>
<html>
<head>
<title>Prediction App</title>
</head>
<body>
<h1>Prediction App</h1>
<form action="/submit" method='POST'>
    <p>
        <input type="radio" id="Cardio" name="Cardio" value=0 checked>
        <label for="Cardio">0</label>
        <input type="radio" id="Cardio" name="Cardio" value=1>
        <label for="Cardio"> Cardio</label>
    </p>
    <p>
        <input type="radio" id="Weight" name="Weight" value=0 checked>
        <label for="Weight">0</label>
        <input type="radio" id="Weight" name="Weight" value=1>
        <label for="Weight"> Weight</label>
    </p>
    <p>
        <input type="radio" id="Plyo" name="Plyo" value=0 checked>
        <label for="Plyo">0</label>
        <input type="radio" id="Plyo" name="Plyo" value=1>
        <label for="Plyo"> Plyo</label>
    </p>  
    <p>
        <input type="radio" id="Laps" name="Laps" value=0 checked>
        <label for="Laps">0</label>
        <input type="radio" id="Laps" name="Laps" value=1>
        <label for="Laps"> Laps</label>
    </p> 
    <p>
        <input type="radio" id="Machine" name="Machine" value=0 checked>
        <label for="Machine">0</label>
        <input type="radio" id="Machine" name="Machine" value=1>
        <label for="Machine"> Machine</label>
    </p>  
    <p>
        <input type="radio" id="Band" name="Band" value=0 checked>
        <label for="Band">0</label>
        <input type="radio" id="Band" name="Band" value=1>
        <label for="Band"> Band</label>
    </p>  
    <p>
        <input type="radio" id="Bar" name="Bar" value=0 checked>
        <label for="Bar">0</label>
        <input type="radio" id="Bar" name="Bar" value=1>
        <label for="Bar"> Bar</label>
    </p>  
    <p>
        <input type="radio" id="Body Weight" name="Body Weight" value=0 checked>
        <label for="Body Weight">0</label>
        <input type="radio" id="Body Weight" name="Body Weight" value=1>
        <label for="Body Weight"> Body Weight</label>
    </p> 
    <p>
        <input type="radio" id="Bosu Balll" name="Bosu Balll" value=0 checked>
        <label for="Bosu Balll">0</label>
        <input type="radio" id="Bosu Balll" name="Bosu Balll" value=1>
        <label for="Bosu Balll"> Bosu Ball</label>
    </p>  
    <p>
        <input type="radio" id="Dumbbells" name="Dumbbells" value=0 checked>
        <label for="Dumbbells">0</label>
        <input type="radio" id="Dumbbells" name="Dumbbells" value=1>
        <label for="Dumbbells"> Dumbbells</label>
    </p>  
    <p>
        <input type="radio" id="Kettlebells" name="Kettlebells" value=0 checked>
        <label for="Kettlebells">0</label>
        <input type="radio" id="Kettlebells" name="Kettlebells" value=1>
        <label for="Kettlebells"> Kettlebells</label>
    </p>   
    <p>
        <input type="radio" id="Landmine" name="Landmine" value=0 checked>
        <label for="Landmine">0</label>
        <input type="radio" id="Landmine" name="Landmine" value=1>
        <label for="Landmine"> Landmine</label>
    </p>  
    <p>
        <input type="radio" id="Platform" name="Platform" value=0 checked>
        <label for="Platform">0</label>
        <input type="radio" id="Platform" name="Platform" value=1>
        <label for="Platform"> Platform</label>
    </p>  
    <p>
        <input type="radio" id="Squat Rack" name="Squat Rack" value=0 checked>
        <label for="Squat Rack">0</label>
        <input type="radio" id="Squat Rack" name="Squat Rack" value=1>
        <label for="Squat Rack"> Squat Rack</label>
    </p>   
    <p>
        <input type="radio" id="Cable" name="Cable" value=0 checked>
        <label for="Cable">0</label>
        <input type="radio" id="Cable" name="Cable" value=1>
        <label for="Cable"> Cable</label>
    </p>   
    <p>
        <input type="radio" id="Medicine Ball" name="Medicine Ball" value=0 checked>
        <label for="Medicine Ball">0</label>
        <input type="radio" id="Medicine Ball" name="Medicine Ball" value=1>
        <label for="Medicine Ball"> Medicine Ball</label>
    </p>  
    <p>
        <input type="radio" id="Arms" name="Arms" value=0 checked>
        <label for="Arms">0</label>
        <input type="radio" id="Arms" name="Arms" value=1>
        <label for="Arms"> Arms</label>
    </p>  
    <p>
        <input type="radio" id="Back" name="Back" value=0 checked>
        <label for="Back">0</label>
        <input type="radio" id="Back" name="Back" value=1>
        <label for="Back"> Back</label>
    </p> 
    <p>
        <input type="radio" id="Core" name="Core" value=0 checked>
        <label for="Core">0</label>
        <input type="radio" id="Core" name="Core" value=1>
        <label for="Core"> Core</label>
    </p>  
    <p>
        <input type="radio" id="Full Body" name="Full Body" value=0 checked>
        <label for="Full Body">0</label>
        <input type="radio" id="Full Body" name="Full Body" value=1>
        <label for="Full Body"> Full Body</label>
    </p>  
    <p>
        <input type="radio" id="Legs" name="Legs" value=0 checked>
        <label for="Legs">0</label>
        <input type="radio" id="Legs" name="Legs" value=1>
        <label for="Legs"> Legs</label>
    </p> 
       
    <p><button type="submit">Submit</button></p>
</form>